<HTML>
{% extends 'header.html'%}
<BODY>
{% block body %}
<div class="jumbotron text-center">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        {% if session.logged_in == NULL %}
        <a class="btn btn-lg btn-primary" href="/add_user_page" role="button">Registration</a>
        <a class="btn btn-lg btn-primary" href="/login_page" role="button">Login</a>
        {% endif %}
      </div>
{% endblock %}
</BODY>
</HTML>