{% extends 'header.html'%}

{% block body %}
<h1>Registration</h1>
{% from "includes/formhelpers.html" import render_field %}
<form id="my-form">
  <div class="form-group">
    {{render_field(form.name,class_= 'form-control',id = 'u_name')}}
  </div>
  <div class="form-group">
    {{render_field(form.email_address,class_= 'form-control',id = 'u_email')}}
  </div>
  <div class="form-group">
    {{render_field(form.user_password,class_ = 'form-control',id = 'u_password')}}
  </div>
  <div class="form-group">
    {{render_field(form.confirm,class_ = 'form-control',id = 'u_cpassword')}}
  </div>
  <p><input type ="submit" class = "btn-primary" value="Submit"></p>
</form>
{% endblock %}
